.container {
    display: flex;
    flex-direction: column;
}

.container div {
    background-color: peachpuff;
    border: 4px solid paleturquoise;
    height: 100px;
    width: 250px;
    flex: 1 1 auto;
}

.container .two {
    flex-shrink: 0;
}